.signin {
  margin-left: 350px;
  text-align: left !important;
}

.form-group-lg {
  margin-top: 10px;
  margin-right: 300px;
  margin-left: 300px;
}
.button {
  margin-right: 600px;
}
.login {
  text-align: center;
}
